# lua vim
script.lua

# =========================
# Frontend Dependencies
# =========================
/frontend/skillchain/node_modules
/frontend/skillchain/.pnp
/frontend/skillchain/.pnp.*

# Yarn
/frontend/skillchain/.yarn/*
!/frontend/skillchain/.yarn/patches
!/frontend/skillchain/.yarn/plugins
!/frontend/skillchain/.yarn/releases
!/frontend/skillchain/.yarn/versions

# =========================
# Testing
# =========================
/frontend/skillchain/coverage

# =========================
# Next.js
# =========================
/frontend/skillchain/.next/
/frontend/skillchain/out/

# =========================
# Production Build
# =========================
/frontend/skillchain/build

# =========================
# Miscellaneous
# =========================
/frontend/skillchain/.DS_Store
/frontend/skillchain/*.pem

# =========================
# Debug Logs
# =========================
/frontend/skillchain/npm-debug.log*
/frontend/skillchain/yarn-debug.log*
/frontend/skillchain/yarn-error.log*
/frontend/skillchain/.pnpm-debug.log*

# =========================
# Environment Variables
# =========================
/frontend/skillchain/.env*

# =========================
# Vercel Deployment
# =========================
/frontend/skillchain/.vercel

# =========================
# TypeScript
# =========================
/frontend/skillchain/*.tsbuildinfo
/frontend/skillchain/next-env.d.ts
