# =========================
# Frontend Dependencies
# =========================
/frontend/node_modules
/frontend/.pnp
/frontend/.pnp.*

# Yarn
/frontend/.yarn/*
!/frontend/.yarn/patches
!/frontend/.yarn/plugins
!/frontend/.yarn/releases
!/frontend/.yarn/versions

# =========================
# Testing
# =========================
/frontend/coverage

# =========================
# Next.js
# =========================
/frontend/.next/
/frontend/out/

# =========================
# Production Build
# =========================
/frontend/build

# =========================
# Miscellaneous
# =========================
/frontend/.DS_Store
/frontend/*.pem

# =========================
# Debug Logs
# =========================
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/.pnpm-debug.log*

# =========================
# Environment Variables
# =========================
/frontend/.env*

# =========================
# Vercel Deployment
# =========================
/frontend/.vercel

# =========================
# TypeScript
# =========================
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts
